<div id="orderListWrapper">
    {% if obDocumentList is not empty %}
        {% partial 'account/documents-list/documents-list' obDocumentList = obDocumentList %}
    {% else %}
        {% set categorySlug = 'default' %}
        {% set locale = this.locale ?? 'it' %} {# или получаем локаль любым способом #}
        {% set buttonHref = (locale != 'it' ? '/' ~ locale ~ '/' : '/') ~ categorySlug %}
        {% partial 'message/info-message'
            wrapperClasses = 'mt-28 md:mt-14'
            icon = 'empty.svg'
            message = 'account_no_documents'|_
            buttonHref = buttonHref
            buttonText = 'breadcrumbs_catalog'|_
        %}
    {% endif %}
</div>
