{% for obProperty in obPropertyList %}
    {% if obProperty.hasValue() %}
    <div
        class="_filter-details block"
        id = "{{obProperty.id}}"
        data-property = "property[{{obProperty.id}}]"
    >
        <div class="hover:!no-underline text-base font-medium w-full">
            {{ obProperty.filter_name }} {% if obProperty.measure.isNotEmpty() %}({{ obProperty.measure.name }}){% endif %}
        </div>
        <div class="flex _shopaholic-filter-wrapper pt-2" data-filter-type="{{ obProperty.filter_type }}" data-property-id="{{ obProperty.id }}">
            {% if obProperty.filter_type == 'between' %}
                <div class="_filter-range flex space-x-3 rtl:space-x-reverse" data-filter-id="{{ obProperty.id }}">
                    <fieldset>
                        <legend class="sr-only">{{ obProperty.filter_name }}&nbsp;{{ 'filter_min'|_ }}</legend>
                        {% partial 'form/input'
                            labelText = 'filter_min'|_
                            inputClasses = '_min appearance-none quantity_input'
                            name = 'property-min-' ~ obProperty.id
                            id = 'property-min-' ~ obProperty.id
                            type = 'number'
                            value = arFilterValue[obProperty.id][0]
                        %}
                    </fieldset>
                    <fieldset>
                        <legend class="sr-only">{{ obProperty.filter_name }}&nbsp;{{ 'filter_max'|_ }}</legend>
                        {% partial 'form/input'
                            labelText = 'filter_max'|_
                            inputClasses = '_max appearance-none quantity_input'
                            name = 'property-max-' ~ obProperty.id
                            id = 'property-max-' ~ obProperty.id
                            type = 'number'
                            value = arFilterValue[obProperty.id][1]
                        %}
                    </fieldset>
                </div>
            {% elseif obProperty.filter_type == 'checkbox' %}
                {% set obPropertyValueList = obProperty.property_value.sort() %}
                <fieldset class="w-full">
                    <legend class="sr-only">{{ obProperty.filter_name }}</legend>
                    {% for obValue in obPropertyValueList %}
                        {% set bChecked = arFilterValue[obProperty.id] is not empty and obValue.slug in arFilterValue[obProperty.id] %}
                        {% set bDisabled = false %}
                        {% if bChecked == false and arFilterValueWithoutProperty[obProperty.id] is not empty %}
                            {% set obProductListTemp = obProductList.copy().filterByProperty(arFilterValueWithoutProperty[obProperty.id], obProductPropertyList).filterByProperty(arFilterValueWithoutProperty[obProperty.id], obOfferPropertyList) %}
                            {% set bDisabled = obValue.isDisabled(obProductListTemp) %}
                        {% endif %}
                        {% partial 'form/input-checkbox'
                            labelText = obValue.value
                            wrapperClasses = 'flex items-center mb-4 last:mb-0'
                            inputClasses = 'rounded-sm disabled:opacity-20'
                            disabled = bDisabled
                            checked= bChecked
                            id = 'property-' ~ obProperty.id ~ '-' ~ obValue.slug
                            name = 'property-' ~ obProperty.id
                            value = obValue.slug
                        %}
                    {% endfor %}
                </fieldset>
            {% elseif obProperty.filter_type == 'select' %}
                {% set obPropertyValueList = obProperty.property_value.sort() %}
                {% set selectOptions = [] %}

                {% for obValue in obPropertyValueList %}
                    {% set bChecked = arFilterValue[obProperty.id] is not empty and obValue.slug in arFilterValue[obProperty.id] %}
                    {% set bDisabled = false %}

                    {% if bChecked == false and arFilterValueWithoutProperty[obProperty.id] is not empty %}
                        {% set obProductListTemp = obProductList.copy()
                                                    .filterByProperty(arFilterValueWithoutProperty[obProperty.id], obProductPropertyList)
                                                    .filterByProperty(arFilterValueWithoutProperty[obProperty.id], obOfferPropertyList) %}
                        {% set bDisabled = obValue.isDisabled(obProductListTemp) %}
                    {% endif %}

                    {% if obValue.value is not empty and bDisabled == false %}
                        {% set selectOptions = selectOptions|merge([{
                            value: obValue.slug,
                            label: obValue.value
                        }]) %}
                    {% endif %}
                {% endfor %}

                {% set selectDisabled = selectOptions is empty %}

                {% partial 'form/select'
                    id = 'property-' ~ obProperty.id
                    name = 'property-' ~ obProperty.id
                    size='large'
                    wrapperClasses = 'w-full'
                    placeholder='filter_value_choose'|_
                    options = selectOptions
                    selectedValue = arFilterValue[obProperty.id]
                    hideClearButton = true
                    disabled = selectDisabled
                %}
            {% elseif obProperty.filter_type == 'radio' %}
                <fieldset class="space-y-2">
                    {% set obPropertyValueList = obProperty.property_value.sort() %}
                    {% for obPropertyValue in obPropertyValueList %}
                        {% set bChecked = arFilterValue[obProperty.id] is not empty and obPropertyValue.slug == arFilterValue[obProperty.id] %}
                        {% partial 'form/input-radio'
                            id = 'property-' ~ obProperty.id ~ '-' ~ obPropertyValue.slug
                            name = 'property-' ~ obProperty.id
                            wrapperClasses = 'w-full'
                            value = obPropertyValue.slug
                            checked = bChecked
                            text = obPropertyValue.value
                        %}
                    {% endfor %}
                </fieldset>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endfor %}
