{#
Params:
- arOrderList
- bRepeatOrder
#}

{% set iPage = Pagination.getPageFromRequest() %}
{% set iMaxPage = Pagination.getMaxPage(obOrderList.count()) %}

<ul class="grid grid-cols-1 lg:grid-cols-2 gap-[2%] ps-0 _orders-list">
    {% partial 'account/order-list/order-list-ajax'
        arOrderList = arOrderList
    %}
</ul>
{% if iMaxPage > iPage %}
    <div class="flex justify-center pt-36 lg:pt-6">
        {% partial 'form/button'
            isGhost = true
            text = 'account_order_more'|_
            dataAtribute = 'data-max-page=' ~ iMaxPage ~ ' data-page=1'
            wrapperClasses = '_show-more-orders mt-8 lg:mt-10'
        %}
    </div>
{% endif %}
