{#
Params:
- obOrderList
#}

{# TODO: Come up with a more correct way to transfer the color sColorState #}

{% if obOrderList is empty %}
    {% set obOrderList = obUser.order %}

    {% set iPage = Pagination.getPageFromRequest() %}
    {% set iMaxPage = Pagination.getMaxPage(iOrdersCount) %}
{% endif %}

{% set arOrderList = obOrderList.page(iPage, Pagination.getCountPerPage()) %}

{% for obOrder in arOrderList %}
{% set obTotalPriceData = obOrder.total_price_data %}
{% set obOrderPositionList = obOrder.order_position %}
{% set orderProps = obOrder.property %}
<li class="bg-white border-y border-outline-variant lg:border-y-0 lg:border-none _order_item">
    <div class="lg:grid lg:grid-flow-col lg:grid-cols-[1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_minmax(160px,200px)]">
        <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
            <span class="text-sm font-medium lg:hidden">{{ 'account_order_number'|_ }}:&nbsp;</span>
            <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                    {{ obOrder.seipee_order_id }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_date'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ obOrder.created_at|date('d/m/Y') }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_rows'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ obOrderPositionList.count() }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_delivery_date'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ obOrder.delivery_date|date('d/m/Y') }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_payment'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ obOrder.payment_type }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_total_ex_vat'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ orderProps.total_excl_vat ?? '—' }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_total_with_vat'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ orderProps.total_incl_vat ?? '—' }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_notes'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ orderProps.notes ?? '—' }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_delivered'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                    {{ obOrder.is_delivered ? 'Yes' : 'No' }}
                </span>
        </div>

        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            <span class="text-sm lg:hidden">{{ 'account_order_see_more'|_ }}&nbsp;</span>
            <span class="text-sm text-end lg:text-start lg:text-base">
                <button type="button" class="_toggle_button" data-toggle-id="{{ obOrder.order_number }}"><i class="bi bi-chevron-down _toggle_icon"></i></button>
            </span>
        </div>

        {# Actions #}
        <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
            {% if obUser.can_order %}
                {% partial 'form/button'
                text='order_again'|_
                isGhost=true
                wrapperClasses='_order_again_button'
            %}
            {% endif %}
        </div>
    </div>
    <div class="_order_details hidden" data-toggle-target="{{ obOrder.order_number }}">
        <div class="hidden lg:grid gap-2 items-start bg-gray-200 lg:grid-cols-[2fr_3fr_1fr_1fr_1fr_1fr_1fr]">
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_code'|_ }}</div>
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_name'|_ }}</div>
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_um'|_ }}</div>
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_quantity'|_ }}</div>
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_quantity_delivered'|_ }}</div>
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_unit_price'|_ }}</div>
                <div class="py-2 px-3 text-base font-medium">{{ 'account_order_position_total_price'|_ }}</div>
            </div>
            <div class="_order_position_list">
                {% for obOrderPosition in obOrderPositionList %}
                    {% set obOffer = obOrderPosition.offer %}
                    {% set obProduct = obOffer.product %}
                    {% set obProductProps = obOrderPosition.property %}
                    {% if obOffer.isNotEmpty() and obProduct.isNotEmpty() %}
                        <div class="_order_position_list grid grid-cols-1 gap-2 lg:grid-cols-[2fr_3fr_1fr_1fr_1fr_1fr_1fr] lg:items-start" data-offer-id="{{ obOffer.id }}" data-quantity="{{ obOrderPosition.quantity }}">
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_code'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obProduct.code }}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_name'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obProduct.name }}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_um'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obProductProps.unit_of_measure ?? '—' }}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_quantity'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obOrderPosition.quantity }}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_quantity_delivered'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obProductProps.deliverable_qty ?? '—' }}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_unit_price'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obOrderPosition.price }}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                                <span class="text-sm font-medium lg:hidden">{{ 'account_order_position_total_price'|_ }}:&nbsp;</span>
                                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">
                                    {{ obProductProps.total_price ?? '—' }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
</li>
{% endfor %}
