{#
Params:
- arOrderList
- bRepeatOrder
#}
<div id="orderListWrapper">
    {% if arOrderList is not empty %}
        {% partial 'account/order-list/order-list' arOrderList = arOrderList %}
    {% else %}
        {% set categorySlug = 'default' %}
        {% set locale = this.locale ?? 'it' %}
        {% set buttonHref = (locale != 'it' ? '/' ~ locale ~ '/' : '/') ~ categorySlug %}
        {% partial 'message/info-message'
            wrapperClasses = 'mt-28 md:mt-14'
            icon = 'empty.svg'
            message = 'account_no_documents'|_
            buttonHref = buttonHref
            buttonText = 'breadcrumbs_catalog'|_
        %}
    {% endif %}
</div>
