{#
Params:
- arOrderList
- bRepeatOrder
#}

{% set iPage = Pagination.getPageFromRequest() %}
{% set iMaxPage = Pagination.getMaxPage(obOrderList.count()) %}
{% set gridCols = bRepeatOrder
? 'lg:grid-cols-[1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_minmax(160px,200px)]'
: 'lg:grid-cols-[1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr]'
%}
<div class="hidden lg:grid lg:grid-flow-col {{ gridCols }} lg:bg-gray-200">
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_number'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_date'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_rows'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_delivery_date'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_payment'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_total_ex_vat'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_total_with_vat'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_notes'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_delivered'|_ }}</div>
    <div class="py-2 px-3 text-base font-medium">{{ 'account_order_see_more'|_ }}</div>
    {% if bRepeatOrder %}
        <div class="py-2 px-3 text-base font-medium"></div>
    {% endif %}
</div>
<ul class="_orders-list flex flex-col space-y-2 lg:space-y-0 lg:block pl-0">
    {% partial 'account/order-list/order-list-ajax'
        arOrderList = arOrderList
    %}
</ul>
{% if iMaxPage > iPage %}
    <div class="flex justify-center">
        {% partial 'form/button'
            isGhost = true
            text = 'account_order_more'|_
            dataAtribute = 'data-max-page=' ~ iMaxPage ~ ' data-page=1'
            wrapperClasses = '_show-more-orders mt-8 lg:mt-10'
        %}
    </div>
{% endif %}
