<div class="text-gray-900 font-semibold mb-2 mt-6">{{'product_aliases'|_ }}:</div>
<input id="edit-alias-product-id" type="hidden" value="{{ obProduct.id }}" />
<div class="flex flex-wrap gap-2">

    {% if arAliases is not empty %}
        {% for item in arAliases %}
            <div class="_alias-item flex items-center gap-2 bg-gray-200 px-3 py-2 rounded-md text-sm">

                <span>{{ item }}</span>

                <button class="text-blue-600 hover:text-blue-800 edit-alias-btn">✏️</button>
                <button class="text-red-600 hover:text-red-800 delete-alias">❌</button>
            </div>
        {% endfor %}
    {% endif %}
    <button
        class="flex items-center gap-2 bg-gray-200 px-3 py-2 rounded-md bg-green-600 text-white hover:bg-green-700 _offCanvasOpen add-alias-btn"
        data-for="add_alias"
    >
        ➕ {{'form_alias_add'|_ }}
    </button>
</div>

{% partial 'common/off-canvas/off-canvas'
    id = 'add_alias'
    position = 'right'
    canvasClasses = 'ps-0 pe-0 cursor-auto'
    backgroundClasses = 'bg-gray-50'
    headerClasses = 'mr-4 ml-4 md:mr-0 md:ml-0'
    indentClasses = 'py-10'
body %}

<div class="p-4">
    <form id="edit-alias-form">
        <label class="block text-sm font-medium mb-2" for="edit-alias-input">
            {{ 'form_alias_label'|_ }}
        </label>
        <input id="edit-alias-input" name="alias" type="text" class="w-full border p-2 rounded mb-4" required>
        <input type="hidden" name="alias_old" id="edit-alias-old">
        <input type="hidden" name="product_id" id="alias_product_id">
        {% partial 'form/button'
            text = 'form_save'|_
            id = 'edit-alias-save'
            type = 'submit'
        %}
    </form>
</div>
{% endpartial %}
