{% set uid = 'tabs_' ~ random(10000) %}
{% partial 'block_head' %}
<div class="row">
	<div class="col-12">
		<ul class="nav nav-tabs" id="{{ uid }}" role="tablist">
			{% for card in box.cards %}
				{% set tabId = uid ~ '_' ~ card.titolo|replace({' ': ''}) %}
				<li class="nav-item" role="presentation">
					<button class="nav-link{% if loop.first %} active{% endif %}"
							id="{{ tabId }}-tab"
							data-bs-toggle="tab"
							data-bs-target="#{{ tabId }}"
							type="button"
							role="tab"
							aria-controls="{{ tabId }}"
							aria-selected="{{ loop.first ? 'true' : 'false' }}">
						<i class="fa {{ card.icona }} pr-2"></i><b>{{ card.titolo }}</b>
					</button>
				</li>
			{% endfor %}
		</ul>

		<div class="tab-content" id="{{ uid }}Content">
			{% for card in box.cards %}
				{% set tabId = uid ~ '_' ~ card.titolo|replace({' ': ''}) %}
				<div class="tab-pane fade{% if loop.first %} show active{% endif %} p-6"
					 id="{{ tabId }}"
					 role="tabpanel"
					 aria-labelledby="{{ tabId }}-tab"
					 style="border-right: 1px solid #dae4e9;border-left: 1px solid #dae4e9;border-bottom: 1px solid #dae4e9">
					{{ card.paragrafo | raw }}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% partial 'block_footer' %}