{% set obGroupPropertyList = obProduct.getCustomVariants() %}

{% if obGroupPropertyList.isNotEmpty() %}
<div class="max-w-4xl mx-auto space-y-4">
    <h2 class="text-xl font-semibold text-gray-800">
        {{ 'product_custom_variants'|_ }}:
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% for obProperty in obGroupPropertyList %}
        {% if obProperty.hasValue() %}
        {% set obPropertyValueList = obProperty.variants %}
        {% set options = [] %}
        {% for key, val in obPropertyValueList %}
            {% set options = options|merge([{
                value: key,
                label: val
            }]) %}
        {% endfor %}

        <div class="border rounded-lg p-4 group">
            <div class="flex items-center">
                {% partial 'form/input-switcher'
                wrapperClasses = ''
                id = 'option_' ~ obProperty.id
                name = 'variants[]'
                labelText = ''
                attributes = { 'data-property-switch': obProperty.id }
                %}
                <h3 class="font-semibold text-lg ml-3 mb-0">{{ obProperty.name }}</h3>
            </div>

            <div
                class="grid transition-[grid-template-rows,opacity] duration-300 ease-out grid-rows-[0fr] opacity-0"
                data-property-wrapper="{{ obProperty.id }}"
            >
                {% partial 'form/select'
                id = 'property_' ~ obProperty.id
                name = 'properties[' ~ obProperty.id ~ ']'
                options = options
                placeholder = ('Select'|_) ~ ' ' ~ obProperty.name
                wrapperClasses = 'overflow-hidden'
                inputClasses= 'focus:!ring-0 focus:!outline-none focus:!shadow-none'
                disabled= true
                hideClearButton = true
                dataAtributes = 'data-property-select=' ~ obProperty.id ~ ' data-property-name="' ~ obProperty.name ~ '"'
                %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
