{#
Params:
- wraperClasses
- obProduct
- obOfferList
- obOffer
#}

{% set arSEOParams = {'category': obProduct.category, 'product': obProduct} %}
{% set obSeoModel = obProduct %}

{% set obReviewList = obProduct.review.active() %}
{% set obReviewListWithComment = obReviewList.copy().withComment() %}
{% set obReviewListWithRating = obReviewList.copy().withRating() %}

<div class="{{ wraperClasses }}">
    <h1 class="text-gray-900 text-xl md:text-2xl xl:text-3xl uppercase">
        {{ SeoToolbox.getPageTitle(obSeoModel, arSEOParams)|default(obProduct.name) }}
    </h1>
    <span class="text-gray-900 text-sm md:text-base">{{'product_code'|_}}: {{ obProduct.code }}</span>
    <div class="mt-2 flex flex-wrap gap-2">
                <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    PROTEZIONE: PROTEZIONE IP65
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    VENTILAZIONI: VENTILAZIONE "IC416" 3ph V.400 50HZ PROTEZIONE IP65
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    VERNICIATURA: VERNICIATURA  CICLO   C4H
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    VERNICIATURA: !!!Abbinare la Var40130!!! = VERNICE BLEU  RAL  5010
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    CUSCINETTI: CUSCINETTO ANTERIORE ISOLATO 4/6/8P
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    FRENI ALTERNATA: TA-FRENO IN C.A. V.230-400-50+LEVA DI SBLOCCO
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    FRENI ALTERNATA: FRENO PROTEZIONE IP65
                </span>
        <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    FRENI ALTERNATA: TA-TC GUAINA PROTEZIONE FRENO
                </span>
    </div>
    {% partial 'product/product-native-variants' %}
{#    <div class="_evaluation flex flex-wrap flex-row mt-4 md:mt-3 text-gray-600 text-sm md:text-base md:items-center">#}
{#        <div class="flex me-3 md:me-4">#}
{#            <div aria-hidden="true" class="flex flex-row items-center space-x-1 rtl:space-x-reverse me-4 mb-2 md:mb-0">#}
{#                {% partial 'common/rating-star' maxRating='5' rating=obProduct.rating prefix='product' %}#}
{#            </div>#}
{#            {% if obProduct.rating > 0 %}#}
{#                <span aria-label="{{ 'reviews_customers_rating'|_({reviews_customers_rating_value: obProduct.rating, reviews_customers_rating_value_max: obReviewListWithRating.count(),}) }}">#}
{#                    ({{ obProduct.rating }})#}
{#                </span>#}
{#            {% endif %}#}
{#        </div>#}
{#        {% if obReviewListWithRating.count() > 0 or obReviewListWithComment.count() > 0 %}#}
{#            <div>#}
{#                {% if obReviewListWithRating.count() > 0 %}#}
{#                    <a href="#ratings" class="text-gray-600 link link-gray underline hover:no-underline cursor-pointer me-2 md:me-4">#}
{#                        {{ obReviewListWithRating.count() }} {{ 'reviews_customers_votes_number'|__(obReviewListWithRating.count()) }}#}
{#                    </a>#}
{#                {% endif %}#}
{#                {% if obReviewListWithComment.count() > 0 %}#}
{#                    <a href="#reviews" class="text-gray-600 link link-gray underline hover:no-underline cursor-pointer">#}
{#                        {{ obReviewListWithComment.count() }} {{'reviews_multi'|__(obReviewListWithComment.count()) }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
    <div class="_offer-price-wrapper">
        {% partial 'product/offer-choose/offer-price'
            obProduct = obProduct
            obOffer = obOffer
            loadPrice=false
        %}
    </div>

</div>
