{#
Params:
- wraperClasses
#}

{% set variants = obProduct.native_variants %}

{% if variants is not empty %}
<div class="mt-2 flex flex-wrap gap-2">
    {% for variant in variants %}
    {% if variant.values is not empty %}
    {% for valueItem in variant.values %}
    <span class="px-2 py-1 text-xs rounded-full bg-gray-100 text-gray-700 border">
                    {{ variant.property_name }}: {{ valueItem.label }}
                </span>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endif %}
