:root {
  --brand-primary: #000000;
  --brand-primary-negative: #fff;
  --brand-second: #d40c3b;
  --brand-info: #8eb4cb;
}

footer {
  background: var(--brand-primary);
  font-family: "Mulish", sans-serif;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: 15px;
  padding-right: 15px;
}

footer a,
footer p,
footer span,
footer .bi,
footer h1,
footer h2,
footer h3,
footer h4,
footer label {
  color: var(--brand-primary-negative);
  transition: .3s all;
}

footer a {
  box-shadow: inset 0 0 0 0 var(--brand-primary);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding: .3rem .5rem;
  margin: 0 -.5rem;
  text-decoration: none;
}

footer a:hover {
  box-shadow: inset 200px 0 0 0 var(--brand-second);
  text-decoration: none;
}

footer h4 {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

footer .address .bi {
  font-size: 1rem;
  margin-right: .5rem;
}

footer .social {
  padding-top: 1rem;
}

footer .social .bi {
  position: relative;
  transition: .7s all;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  bottom: 0;
}

footer .social .bi:hover {
  bottom: 1rem;
}

footer .social:first-child i {
  padding-left: 0rem;
}

footer .social a:hover {
  box-shadow: none;
  background: none;
}

footer .credits {
  position: relative;
}

footer .credits a {
  font-size: 0.8rem;
}

footer a:hover {
  color: #fff;
}

footer .credits a:hover .bi {
  font-size: 1rem;
}

footer .credits .bi {
  font-size: .8rem;
  color: #f00;
  padding: 0 0.3rem;
  transition: .3s all;
  width: 20px;
  display: inline-block;
  left: -40px;
  position: relative;
  top: -11px;
}

footer .credits .bi::before,
footer .credits .bi::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 7px;
  height: 13px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

footer .credits .bi::after {
  left: 43px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulsecolor {
  10% {
    background: #dd0000;
  }
}

footer .credits::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(83, 168, 151, 1), rgba(255, 255, 255, 0));
  top: -5px;
  left: 25%;
}

footer .center {
  text-align: center;
}

/* Button back to top */
#btn-back-to-top {
  position: fixed;
  right: 20px;
  width: 48px;
  height: 48px;
  bottom: 160px;
  opacity: 0;
  background: #fff;
  border-radius: 50%;
  padding: 0;
  transition: 1s all;
  z-index: inherit;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 14px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi4yNSAxMi4zNjg0QzE1Ljc2MTMgMTIuODU2NCAxNC45Njg4IDEyLjg1NjQgMTQuNDgwMSAxMi4zNjg0TDEwIDcuODk1MTNMNS41MTk5MSAxMi4zNjg0QzUuMDMxMTYgMTIuODU2NCA0LjIzODc1IDEyLjg1NjQgMy43NSAxMi4zNjg0TDkuNTU3NTIgNi41Njk3MkM5LjgwMTkgNi4zMjU3MiAxMC4xOTgxIDYuMzI1NzIgMTAuNDQyNSA2LjU2OTcyTDE2LjI1IDEyLjM2ODRaIiBmaWxsPSJibGFjayIgZmlsbC1vcGFjaXR5PSIwLjg1Ii8+Cjwvc3ZnPgo=);
}
