.js-gallery-thumbs .swiper-slide {
  @apply border-2 border-transparent !w-auto;
}
.js-gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  @apply border-primary;
}

.swiper-pagination {
  @apply flex justify-center py-1;
}

.slider__bullet {
  @apply w-1 md:w-3 h-1 md:h-3 bg-outline block ms-2 lg:ms-6 first:ms-0 bg-gray-400 rounded-full
}

.slider__bullet:not(.slider__bullet_active) {
  @apply bg-outline;
}

.slider__bullet.slider__bullet_active {
  @apply bg-primary;
}
.swiper-pagination {
  @apply static;
}


.slider__pagination {
  @apply flex justify-center mt-5 lg:mt-12;
}

.slider__pagination-hidden {
  @apply hidden;
}



.slider__bullet_active {
  @apply bg-blue-800;
}

input[type='radio'] {
  @apply relative checked:bg-none checked:text-white checked:border-blue-600 checked:after:content-[''] checked:after:absolute checked:after:rounded-full checked:after:w-2 checked:after:h-2 checked:after:bg-blue-800 checked:after:left-[3px] checked:after:top-[3px] hover:!border-blue-600 focus-visible:!border-gray-900 focus-visible:ring-transparent focus:ring-transparent focus:!border-blue-600;
}
