<div class="row">
    {% if global.facebook %}
    <div class="col-2">
        <a href="{{ global.facebook }}" target="_blank"><i class="bi bi-facebook"></i></a>
    </div>
    {% endif %}
    {% if global.linkedin %}
    <div class="col-2">
        <a href="{{ global.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    {% endif %}
    {% if global.instagram %}
    <div class="col-2">
        <a href="{{ global.instagram }}" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>
    {% endif %}
    {% if global.youtube %}
    <div class="col-2">
        <a href="{{ global.youtube }}" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
    {% endif %}
    {% if global.pinterest %}
    <div class="col-2">
        <a href="{{ global.pinterest }}" target="_blank"><i class="bi bi-pinterest"></i></a>
    </div>
    {% endif %}
    {% if global.twitter %}
    <div class="col-2">
        <a href="{{ global.twitter }}" target="_blank"><i class="bi bi-twitter-x"></i></a>
    </div>
    {% endif %}
</div>